<div class="box-footer-left">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="btn" ng-click="select(0)" ng-class="{'btn-active': selected===0}">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="btn"ng-click="select(1)" ng-class="{'btn-active': selected===1}">
                <i class="fa fa-comments"></i>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="btn" ng-click="select(2)" ng-class="{'btn-active': selected===2}">
                <i class="fa fa-cogs"></i>
            </div>
        </div>
    </div>
</div>