<div class="header">
  <h5 class="text-center">
    About
  </h5>
</div>

<div class="info-wrapper" slimScroll width="auto" height="400px" size="7px">

  <div class="box">
    <div class="box-body box-profile">
      <div class="profile-user-wrapper">
        <img class="profile-user-img img-responsive img-circle" [src]="user.avatar" alt="User profile picture">
        <h3 class="profile-username text-center">Hello, {{user.name}}</h3>
      </div>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item text-center head-row">
          <b>ssfm</b> is a simple small fancy messenger
        </li>
        <li class="list-group-item">
          <b>Version</b>
          <div class="pull-right">0.0.1.SNAPSHOT</div>
        </li>
        <li class="list-group-item">
          <b>Authors</b>
          <div class="pull-right">Alexander Ray (email@domain.com)</div>
        </li>
        <li class="list-group-item">
          &nbsp;<div class="pull-right">Maksim Budilovskiy (email@domain.com)</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <footer class="no-print">
    <strong>Copyright © 2017, Alexander Ray.</strong> All rights reserved.
  </footer>
</div>

